| Se ficar com alguma dúvida, você pode conferir a nossa #{link_to " Central de Suporte", "http://suporte.trendnotion.com"} ou enviar a sua pergunta para a nossa equipe, através #{link_to 'deste link', 'https://suporte.trendnotion.com/hc/pt-br/requests/new'}.
br/
br/
| Abraços,
br/
| Equipe do #{CatarseSettings[:company_name]}
